
{{#contentFor "styles"}}
  <link rel="stylesheet" href="css/app.css">
{{/contentFor}}


{{#contentFor "scripts"}}
  <script src="js/app.js"></script>
{{/contentFor}}


<!-- body -->
<div class="box">
  hola mundo!
</div>
