<!doctype html>

<html lang="es">
<head>
  <meta charset="utf-8">

  <title>test</title>
  <meta name="description" content="<%= description.replace(/"/g, '\\"') %>">
  <meta name="author" content="<%- author.replace(/"/g, '\\"') %>">

  {{{block "styles"}}}
</head>
<body>
  {{{body}}}

  {{{block "scripts"}}}
</body>
</html>
